.DS_Store
.vscode/
_tmp_ios_sdk/
iOS_v1.9.2/
**/build/
**/.dart_tool/
**/Pods/
**/.symlinks/
**/Frameworks/
*.xcframework/
*.framework/
*.dSYM/
Android-SDK-V1.9.4.zip
sdk_demo_1.9.4/insta_sdk_demo_release_1.9.4.apk
