#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
OTHER_LDFLAGS[sdk=iphonesimulator*] = $(inherited) -l"c++" -framework "AVFoundation" -framework "CoreBluetooth" -framework "CoreGraphics" -framework "CoreMedia" -framework "CoreMotion" -framework "CoreVideo" -framework "ExternalAccessory" -framework "GLKit" -framework "UIKit" -framework "insta360_sdk" -framework "path_provider_foundation"
